<div class="hidden md:block">
    <nav class="items-center justify-between hidden grid-flow-col p-4 mx-auto md:grid">
        <div class="font-bold font-alt-font">
            <a href="{% url 'home' %}" class="mr-5 transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">Home</a>
            <a href="{% url 'products' %}" class="mr-2 transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">Shop now</a>
            <button onclick="displaySearchDesktop()"   id="search-button-desktop" class="mr-4">
                <span id="search-icon-desktop">
                    <i class="fas fa-search "></i>
                </span>
                <span id="search-icon-close-desktop" class="hidden">
                    <i class="text-purple-600 fas fa-times fa-lg"></i>
                </span>
            </button>
            <a href="{% url 'view_cart' %}" class="relative">
                <span class="relative">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                {% if cart_items %}
                <span class="bg-[#ffb98a] rounded-full py-[2px] px-[6px] relative top-[-10px]  text-xs ">
                    {{ product_count }}
                </span>
                {% endif %}
            </a>
        </div>
        <div>
            <a href="{% url 'home' %}" class="text-2xl font-logo">Urban Fitness</a>
        </div>
        <div class="font-bold font-alt-font">
            {% if request.user.is_authenticated %}
                <a class="pr-2" href="{% url 'user_profile' %}">
                    My Profile
                </a>
                <a class="px-2 py-1 text-white bg-purple-700 rounded-md" href="{% url 'account_logout' %}">
                    Logout
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="mr-5 transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">
                    Sign in
                </a>
                <a href="{% url 'account_signup' %}" class="px-4 py-1 mr-1 rounded-md bg-buttons hover:bg-headings hover:text-white">
                    Become A Member
                </a>
            {% endif %}
        </div>
    </nav>
        <!-- serach input form desktop -->
    <div id="search-box-desktop" class="hidden w-11/12 py-3 mx-auto">
        <form method="GET" action="{% url 'products' %}" class="w-full bg-white rounded-md ">
            <input
                id="search-form-desktop"
                class="w-full h-full p-2 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                type="text"
                name="q"
                placeholder="Search Urban Fitness Products"
                maxlength="65"
            />
        </form>
    </div>
</div>