<nav class="items-center justify-between hidden grid-flow-col p-4 mx-auto lg:grid">
    <div class="font-bold font-alt-font">
        <a href="http://" class="mr-5 transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">Home</a>
        <a href="http://" class="transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">Shop now</a>
    </div>
    <div>
        <a href="" class="text-2xl font-logo">Urban Fitness</a>
    </div>
    <div class="font-bold font-alt-font">
        <a href="http://" class="mr-5 transition-colors duration-500 ease-in-out hover:border-b-2 hover:border-headings">Sign in</a>
        <a href="http://" class="px-4 py-1 rounded-md bg-buttons hover:bg-headings hover:text-white">Become A Member</a>
    </div>
</nav>
