<div class="fixed bottom-0 w-full border-t-2 border-headings lg:hidden bg-primary ">
    <div
        class="grid items-center justify-between w-10/12 max-w-xl grid-flow-col pt-4 pb-6 mx-auto border-headings"
    >
        <div>
            <a href="{% url 'home' %}" class="flex flex-col items-center">
                <i class="fas fa-home fa-lg"></i>
                <span class="text-sm">Home</span>
            </a>
        </div>
        <div>
            <!-- <a href="{  }"> fitness
        </a> -->
            <i class="fas fa-dumbbell fa-lg"></i>
            <span class="text-sm">Fitness</span>
        </div>
        <div>
            <!-- <a href="{}"> nutrition
        </a> -->
            <i class="fas fa-apple-alt fa-lg"></i>
            <span class="text-sm">Nutrition</span>
        </div>
        <div class="flex flex-col items-center">
            <!-- <a href="{}">  profile
        </a> -->
            <i class="fas fa-user-alt fa-lg">
                <span class="text-sm">Profile</span>
            </i>
        </div>
    </div>
</div>
