/* =================
Google fonts
================= */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =================
Font awsome icons
================= */
i {
    @apply text-headings;
}

/* =================
Home page
================= */

/* ================= hero image ================= */
#hero-image {
    background: url('/media/hero-image-one.jpg');
    background-size: cover;
    height: 300px;
    width: auto;
    border-radius: 10px;
}

#hero-image-lg-one {
    background: url('/media/hero-image-one.jpg');
    background-size: cover;
    background-position: center;
    height: 185px;
    width: 395px;
    border-radius: 10px;
}

#hero-image-lg-two {
    background: url('/media/hero-image-two.jpg');
    background-size: cover;
    background-position: center;
    height: 185px;
    width: 395px;
    border-radius: 10px;
}

@screen lg {
    #hero-image-lg-one,
    #hero-image-lg-two {
        width: 500px;
    }
}

#customer-review-image {
    background: url('/media/customer-review.jpg');
    background-size: cover;
    border-radius: 50%;
    height: 135px;
    width: 135px;
}

#shop-yoga-image {
    background: url('/media/yoga-mat.jpg');
    background-size: cover;
    height: 250px;
    width: auto;
    border-radius: 10px;
}
/* =================
Headings styles
================= */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-alt-font text-headings;
}
p {
    @apply text-text;
}

span {
    @apply font-alt-font;
}

/* =================
Products page
================= */

/* ================= mobile menu ================= */
.mobile-menu-open {
    width: 80%;
    transition: width 0.1s cubic-bezier(0.47, 0, 0.74, 0.71);
}

/* =================
footer mobile
================= */

/* ================= footer icons ================= */
#mobile-footer i {
    color: white;
}

/* ================= footer icons active ================= */
.active {
    @apply text-buttons !important;
}

/* ================= add padding under active menu li elements in footer ================= */
.mobile-menu-active {
    content: '';
    position: absolute;
    width: 46px;
    height: 5px;
    bottom: 0px;
    margin-left: -12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffb98a;
}

/* =================
 select elements
================= */

/* removes arrows from input field on Firefox browsers */
input[type='number'] {
    -moz-appearance: textfield;
}

/* ================= Remove arrows from input elements ================= */

select#sort-selector {
    font-size: 0px;
}

select#sort-selector option {
    font-size: 15px;
}

@screen md {
    select#sort-selector {
        position: relative;
        appearance: auto;
        font-size: 1rem;
    }
}


/* =================
stripe form 
================= */


.StripeElement,
.stripe-style-input { 
  height: 40px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid gray ;
  caret-color :#6d28d9;

} 
.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
} 

 
.fieldset-label {
    position: relative;
    right: .5rem;
    padding-bottom: 5px;
} 
 


/* =================
checkout form input
================= */

form#payment-form input {
    caret-color :#6d28d9;
    @apply
    pb-2 mb-6 text-sm border-gray-300 rounded-md focus:outline-none focus:text-gray-900 focus:border-purple-700 ;
}

#payment-form label{
    @apply
    pb-2 text-xs;
}
