{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% endblock %} {% block extra_meta %} {% endblock %} {% block corecss %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/main.css' %}"
        />
        {% endblock %}
        
        {% block corejs %}
        <script
            src="https://kit.fontawesome.com/670dccec3f.js"
            crossorigin="anonymous"
        ></script>
        <script  defer src="{% static 'js/main.js' %}"></script>
        {% endblock %}

        <title>Urban Fitness {% block extra_title %} {% endblock %}</title>
    </head>

    <body class="mx-auto max-w-7xl bg-primary font-body">
        <header class="mb-4 lg:mb-14">
            {% include 'includes/main-nav.html' %}
            {% include 'includes/mobile-footer-menu.html' %} 
            {% include 'includes/mobile-header.html' %}
        </header>
        <!-- <div id="hero-image">
        </div> -->
        {% if messages%}
        <div class="message-container"></div>
        {% endif %} {% block page_header %} {% endblock %} {% block content %}
        {% endblock %}

        <footer class="hidden p-5 mb-20 border-t-2 border-headings mt-11 lg:flex">
            <div>
                <h1 class="pb-6 text-2xl font-logo">Urban Fitness</h1>
            </div>
            <div id="support-dropdown">
                <div
                    class="flex justify-between pb-2 mb-5 border-b-2 border-headings"
                >
                    <h1 class="text-xl text-bold">Support</h1>
                    <i class="fas fa-chevron-down toggle"></i>
                </div>
                <div class="h-0 overflow-hidden">
                    <div class="grid gap-1 pb-4">
                        <a href="http://">Contact us</a>
                        <a href="http://">Privacy policy</a>
                        <a href="http://">Terms & conditions</a>
                        <a href="">About us</a>
                    </div>
                    <div class="grid justify-start grid-flow-col gap-4">
                        <i class="fa-2x fab fa-facebook-square"></i>
                        <i class="fa-2x fab fa-instagram"></i>
                        <i class="fa-2x fab fa-twitter-square"></i>
                    </div>
                </div>
            </div>
        </footer>
        {% block postloadjs %} {% endblock %}
    </body>
</html>
